<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ config('application.name') }}</title>
    <link href="/static/app.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
</head>
<body class="bg-gray-100 h-screen antialiased leading-none font-sans">
    <div id="app">
        <header class="bg-blue-900 py-6">
            <div class="container mx-auto flex justify-between items-center px-6">
                <div>
                    <a class="text-lg font-semibold text-gray-100 no-underline" href="/home">
                        {{ config('application.name') }}
                    </a>
                </div>
                <nav class="space-x-4 text-gray-300 text-sm sm:text-base">
                    {% if auth() %}
                        <a class="no-underline hover:underline" href="/logout">Logout</a>
                    {% else %}
                        <a class="no-underline hover:underline" href="/login">Login</a>
                        <a class="no-underline hover:underline" href="/register">Register</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
