{% extends 'auth/base.html' %}
{% block content %}
<div class="flex flex-wrap my-5">
    <div class="md:w-1/6 pr-4 pl-42">
        <div class="flex flex-wrap">
            <div class="md:w-1/2 pr-4 pl-4 mx-auto">
                {% if session().has('error') %}
                <div class="relative px-3 py-3 mb-4 border rounded text-red-darker border-red-dark bg-red-lighter" role="alert">
                    {{ session().get('error') }}
                </div>
                {% endif %}
                {% if session().has('success') %}
                <div class="relative px-3 py-3 mb-4 border rounded text-green-darker border-green-dark bg-green-lighter" role="alert">
                    {{ session().get('success') }}
                </div>
                {% endif %}
                <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-grey-light rounded-1">
                    <div class="py-3 px-6 mb-0 bg-grey-lighter border-b-1 border-grey-light text-grey-darkest">
                        <h5 class="mb-0">Password Reset</h5>
                    </div>
                    <div class="flex-auto p-6">
                        <form class="form" action="/password" method="POST">
                            {{ csrf_field }}
                            <div class="mb-4">
                                <label for="">Email</label>
                                <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded form-control-md roundehidden" name="email">
                                {% if session().has('errors') %}
                                    {% for error in session().get('errors').get('email').items() %}
                                    <div class="relative px-3 py-3 mb-4 border rounded text-red-darker border-red-dark bg-red-lighter" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-green-lightest bg-green hover:bg-green-light btn-md float-right">Send reset link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
