{% extends 'auth/base.html' %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-default">

        <header class="font-semibold bg-gray-200 text-gray-700 py-5 px-6 sm:py-6 sm:px-8 sm:rounded-t-md">
            Verify Your Email Address
        </header>

        <div class="panel-body">
            Please check your email and follow the link to verify your email. If
            you need us to resend the email. Click <a href="/email/verify/send">here</a>
        </div>
    </div>
</div>
{% endblock %}
